.sound {
    display: flex;
    border-radius: 6px;
    box-shadow: 2px 2px 1px 1px #e5e5ff;
    margin-top: 15px;
    margin-left: 10px;
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
}

.sound:hover {
    opacity: 0.7;
}

@media (max-width: 800px) {
    .sound-container {
        max-width: 150px;
        max-height: 150px;
        min-width: 150px;
        min-height: 150px;
    }
}
