.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  text-align: right;
}

.sounds-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.grow {
  flex-grow: 1;
}
